@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container1 {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /*border: 1px solid red;*/
}

.logo {
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    width: 588px;
    margin-top: 30px;
    display: flex;
    background: #b10333;
}

#topo ul li a {
    font-size: 1em;
    display: block;
    padding: 10px 15px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

/*Serve para deixar selecionado em qual página vc ta*/
body.home #navegacao a#home,
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, 
body.saude #navegacao a#saude, 
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
}

main {
    max-width: 780px;
    margin: 0 auto;
    margin-top: 100px;
}

div#container2 {
    display: flex;
}

/*Inicio da parte da entrevista com os nomes*/
div#entrevista {
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
    width: 185px;
    height: 385px;
}

div#entrevista #nomes {
    background-color: #fff;
}

div#entrevista ul li {
    padding: 10px 5px;
}

div#entrevista #nomes a {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

div#entrevista #nomes a:hover {
    background: url(imagens/marcador.png) no-repeat;
    background-position: 0px;
    color: rgba(0, 0, 0, 0.644);
    padding: 10px 0px 10px 20px;
}

div#entrevista h2 {
    font-size: 1.2em;
    width: 140px;
    margin-bottom: 15px;
    padding: 5px;
    background: rgb(1, 1, 51);
    color: #fff;
}
/*Fim da parte da entrevista com os nomes*/

/*Inicio da parte do email*/
section#cadastro {
    margin-top: 40px;
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
    height: 155px;
    width: 170px;
}

section#cadastro input[type="email"] {
    width: 150px;
    outline: none;
    padding: 4px 0px;
    margin: 5px 0px;
}

section#cadastro input[type="submit"] {
    border: none;
    background: darkred;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
/*Fim da parte do email*/

/*Inicio da parte da img do doutor*/
div#ultima-entrevista #medico {
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
}

div#ultima-entrevista #medico h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
    background: rgb(1, 1, 51);
    color: #fff;
}

div#ultima-entrevista #medico h3 {
    background-color: darkred;
    font-size: 0.8em;
    width: 190px;
    color: #fff;
    margin-bottom: 5px;
    padding: 2px;
    text-transform: uppercase;
}

div#ultima-entrevista #medico img {
    width: 100%;
    height: auto;
}

div#ultima-entrevista #medico a {
    color: darkred;
}
/*Fim da parte da img do doutor*/

/*Formando a lista de noticias mundo*/
div#fotos-mundo {
    margin-top: 20px;
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
}

div#fotos-mundo section {
    background-color: #fff;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

div#fotos-mundo h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
    background: rgb(1, 1, 51);
    color: #fff;
}

div#fotos-mundo section a {
    min-width: 120px;
    font-size: 0.8em;
    padding-left: 10px;
    text-decoration: none;
}

div#fotos-mundo section a h4 {
    color: rgb(3, 3, 179);
    text-transform: uppercase;
    font-size: 0.8em;
}

div#fotos-mundo section a p {
    color: black;
}

div#fotos-mundo section img {
    width: 80px;
}
/*Fim da formatação da lista de noticias mundo*/

/*Formatando o rodapé*/
footer {
    height: 90px;
    background: rgb(1, 1, 51);
    margin-top: 30px;
    display: flex;
    align-items: center;
}

footer h2 {
    color: #fff;
    font-size: 1.1em;
    margin-left: 50px;
}

footer h2 a {
    color: #fff;
    text-decoration: none;
}