@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container1 {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /*border: 1px solid red;*/
}

.logo {
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    width: 588px;
    margin-top: 30px;
    display: flex;
    background: #b10333;
}

#topo ul li a {
    font-size: 1em;
    display: block;
    padding: 10px 15px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

/*Serve para deixar selecionado em qual página vc ta*/
body.home #navegacao a#home,
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, 
body.saude #navegacao a#saude, 
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
}

main {
    max-width: 780px;
    margin: 0 auto;
    margin-top: 100px;
}

div#container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Inicio da parte da img do taxi*/
div#destaque #taxi {
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
}

div#destaque #taxi h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
    background: rgb(1, 1, 51);
    color: #fff;
}

div#destaque #taxi h3 {
    background-color: darkred;
    font-size: 0.8em;
    width: 190px;
    margin-bottom: 5px;
    color: #fff;
    padding: 2px;
    text-transform: uppercase;
}

div#destaque #taxi img {
    width: 100%;
    height: auto;
}

div#destaque #taxi a {
    color: darkred;
}
/*Fim da parte da img do taxi*/

/*Formando a lista de notícias recentes*/
div#noticias-recentes {
    margin-top: 20px;
    background: url(imagens/fundo-caixa.png);
    margin-right: 20px;
    padding: 10px;
}

div#noticias-recentes section {
    background-color: #fff;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

div#noticias-recentes h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    padding: 5px;
    background: rgb(1, 1, 51);
    color: #fff;
}

div#noticias-recentes section a {
    min-width: 120px;
    font-size: 0.8em;
    padding-left: 10px;
    text-decoration: none;
}

div#noticias-recentes section a h4 {
    color: rgb(3, 3, 179);
    text-transform: uppercase;
    font-size: 0.8em;
}

div#noticias-recentes section a p {
    color: black;
}

div#noticias-recentes section img {
    width: 80px;
}

/*Formatando o rodapé*/
footer {
    height: 90px;
    background: rgb(1, 1, 51);
    margin-top: 30px;
    display: flex;
    align-items: center;
}

footer h2 {
    color: #fff;
    font-size: 1.1em;
    margin-left: 50px;
}

footer h2 a {
    color: #fff;
    text-decoration: none;
}