@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(imagem/fundo.png);
}

/*Smartphone portrait*/

#img-capa {
    width: 100%;
    height: 170px;
}

nav {
    background-color: #8a7f53bd;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}

#ul-menu {
    display: flex;
    gap: 10px;
    list-style: none;
}

#ul-menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#ul-menu a:hover {
    color: rgba(0, 0, 0, 0.658);
    transition: 0.2s;
}

#biografia-anna {
    background-color: #e6c9a05e;
    max-width: 90vw;
    margin: 0 auto;
    height: 780px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#biografia-anna h1 {
    color: #4e412fe0;
    padding: 20px 0px 10px 25px;
}

#biografia-anna p {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
}

footer {
    text-align: center;
}

footer h1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 15px;
}

footer p a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer p a:hover {
    color: rgba(0, 0, 0, 0.658);
    transition: 0.2s;
}

/*Media query*/

/*Smartphone landscape*/

@media (min-width: 576px) {
    #img-capa {
        width: 100%;
        height: 220px;
    }
    
    nav {
        background-color: #8a7f53bd;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        text-transform: uppercase;
    }
    
    #ul-menu {
        display: flex;
        gap: 30px;
        list-style: none;
    }
    
    #ul-menu a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    
    #ul-menu a:hover {
        color: rgba(0, 0, 0, 0.658);
        transition: 0.2s;
    }
    
    #biografia-anna {
        background-color: #e6c9a05e;
        max-width: 90vw;
        margin: 0 auto;
        height: 520px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #biografia-anna h1 {
        color: #4e412fe0;
        padding: 20px 0px 10px 35px;
    }
    
    #biografia-anna p {
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
    }
}

/*Tablet portrait*/ 

@media (min-width: 768px) {
    #img-capa {
        width: 100%;
        height: 290px;
    }

    nav {
        background-color: #8a7f53bd;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        text-transform: uppercase;
    }

    #ul-menu {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    #ul-menu a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    #ul-menu a:hover {
        color: rgba(0, 0, 0, 0.658);
        transition: 0.2s;
    }

    #biografia-anna {
        background-color: #e6c9a05e;
        max-width: 90vw;
        margin: 0 auto;
        height: 480px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #biografia-anna h1 {
        color: #4e412fe0;
        padding: 20px 0px 10px 40px;
    }
    
    #biografia-anna p {
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
    }
}

/*Tablet landscape*/ 

@media (min-width: 992px) {
    #img-capa {
        width: 100%;
        height: 330px;
    }

    nav {
        background-color: #8a7f53bd;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
    }

    #ul-menu {
        display: flex;
        list-style: none;
        gap: 70px;
    }

    #ul-menu a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    #ul-menu a:hover {
        color: rgba(0, 0, 0, 0.658);
        transition: 0.2s;
    }

    #biografia-anna {
        background-color: #e6c9a05e;
        max-width: 90vw;
        margin: 0 auto;
        height: 430px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #biografia-anna h1 {
        color: #4e412fe0;
        padding: 20px 0px 10px 40px;
    }
    
    #biografia-anna p {
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
    }
}

/*PCS e Notebooks*/ 

@media (min-width: 1200px) {
    body {
        max-width: 920px;
        margin: 0 auto;
    }

    #img-capa {
        width: 100%;
        height: 350px;
    }

    nav {
        background-color: #8a7f53bd;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        text-transform: uppercase;
    }

    #ul-menu {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    #ul-menu a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    #ul-menu a:hover {
        color: rgba(0, 0, 0, 0.658);
        transition: 0.2s;
    }

    #biografia-anna {
        background-color: #e6c9a05e;
        max-width: 90vw;
        margin: 0 auto;
        height: 430px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #biografia-anna h1 {
        color: #4e412fe0;
        padding: 20px 0px 10px 100px;
    }
    
    #biografia-anna p {
        max-width: 80%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
    }
}

/*Telas FullHD / 4K / SmartTVS*/

@media (min-width: 1400px) {
    body {
        max-width: 900px;
        margin: 0 auto;
    }

    #img-capa {
        width: 100%;
        height: 380px;
    }

    nav {
        background-color: #8a7f53bd;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        text-transform: uppercase;
    }

    #ul-menu {
        display: flex;
        list-style: none;
        gap: 80px;
    }

    #ul-menu a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    #ul-menu a:hover {
        color: rgba(0, 0, 0, 0.658);
        transition: 0.2s;
    }

    #biografia-anna {
        background-color: #e6c9a05e;
        max-width: 90vw;
        margin: 0 auto;
        height: 400px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #biografia-anna h1 {
        color: #4e412fe0;
        padding: 20px 0px 10px 120px;
    }
    
    #biografia-anna p {
        max-width: 75%;
        margin: 0 auto;
        padding: 10px;
        text-align: justify;
    }
}