@charset "UTF-8";

/*NAV 1*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #000;
    height: 60px;
}

.logo {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
}

ul {
    display: flex;
    gap: 30px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.botao {
    margin-right: 10px;
    color: white;
    background-color: rgb(8, 8, 117);
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*NAV 2--------------------------------------*/ 

.nav-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: black;
    color: white;
    height: 60px;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.logo-2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
}

.botao {
    text-transform: capitalize;
    margin-right: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 8, 117);
    cursor: pointer;
}

/*NAV 3--------------------------------------*/

.nav-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: black;
    color: white;
    height: 60px;
}

.ul-3 {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 10px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.logo-3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 10px;
}

.botao {
    text-transform: capitalize;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 8, 117);
    cursor: pointer;
}

/*NAV 4--------------------------------------*/

.nav-4 {
    margin-top: 40px;
    height: 60px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-4 {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.logo-4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/*TESTE FLEXBOX-------------------------------------*/

.container {
    height: 500px;
    width: 500px;
    border: 1.5px solid black;
    margin: 40px auto;
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.content-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    height: 19.7%;
}

.item-meio {
    background-color: green;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    background-color: blue;
    width: 80px;
    height: 80px;
}

.item-2 {
    background-color: red;
    width: 80px;
    height: 80px;
}

.item-3 {
    background-color: blue;
    width: 80px;
    height: 80px;
}

.item-4 {
    background-color: red;
    width: 80px;
    height: 80px;
}


